<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
<title>공지사항</title>
</head>
<body>
	<div>
		<section>
			<div id="login">
				<form th:id="login-form" class="hide">
					<label>아이디</label>
					<input type="text" th:name="username"/>
					<label>비밀번호</label>
					<input type="password" th:name="password"/>
					<input type="button" onclick="javascript:login();" value="로그인"/>
				</form>
				<div id="login-info" class="hide">
					<label>이름: </label>
					<span id="login-username"></span>
					<input type="button" onclick="javascript:logout();" value="로그아웃"/>
				</div>			
			</div>
		</section>
		
		<section>
			<div id="nav"></div>
		</section>

		<section id="contents">
			<form th:id="notice-form">
				<table>
					<tr>
						<th>제목</th>
						<td colspan="5"><input type="text" name="title"/></td>
					</tr>
					<tr>	
						<th>작성자</th>
						<td><input type="text" name="regNm"/></td>
						<th>작성일</th>
						<td><input type="text" name="regDt"/></td>
						<th>조회수</th>
						<td><input type="text" name="viewCnt"/></td>
					</tr>	
					<tr>		
						<th>첨부파일</th>
						<td colspan="5">
							<ul id="attached"></ul>
						</td>
					</tr>						
					<tr>		
						<th>내용</th>
						<td colspan="5"><textarea name="content" rows="4"></textarea></td>
					</tr>	
					<tr>
						<td colspan="6">
							<input type="button" onclick="javascript:alert('다음');" value="다음글"/>
							<input type="button" onclick="javascript: history.back();" value="목록"/>
							<input type="button" onclick="javascript:alert('이전');" value="이전글"/>
						</td>
					</tr>
				</table>
			</form>
		</section>	
	</div>
	
	<script th:inline="javascript">
		onload("/pages/notice/detail", async () => {
			const noticeSeq = new URL(location.href).searchParams.get('noticeSeq');
			await renderContents(noticeSeq);
		});
		
		function renderContents(noticeSeq) {
			return new Promise(resolve => {
				API.get("/notices/" + noticeSeq).then(async resp => {
					let data = resp.data;
					let form = document.getElementById('notice-form');
					form.title.value = data.title;
					form.regNm.value = data.regNm;
					form.regDt.value = data.regDt;
					form.viewCnt.value = data.viewCnt;
					form.content.value = data.content;
					
					let fragmentAttached = document.createDocumentFragment();
					data.attachedFiles.forEach(function (item, index) {
						let li = document.createElement('li');
						li.insertAdjacentHTML("beforeend", `<a href="javascript:API.download('${item.fileDownloadPath}', '${item.fileOrgNm}');" class="attached">${item.fileOrgNm}</a>`);
						fragmentAttached.appendChild(li);
					});
					document.getElementById('attached').appendChild(fragmentAttached);
					
					resolve();
				});					
			}).catch(alert);
		}		
	</script>		
</body>
</html>