<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
<title>공지사항</title>
</head>
<body>
	<div>
		<section>
			<div id="login">
				<form th:id="login-form" class="hide">
					<label>아이디</label>
					<input type="text" th:name="username"/>
					<label>비밀번호</label>
					<input type="password" th:name="password"/>
					<input type="button" onclick="javascript:login();" value="로그인"/>
				</form>
				<div id="login-info" class="hide">
					<label>이름: </label>
					<span id="login-username"></span>
					<input type="button" onclick="javascript:logout();" value="로그아웃"/>
				</div>			
			</div>
		</section>
		
		<section>
			<div id="nav"></div>
		</section>
		
		<section>
			<form th:id="notice-form">
				<table>
					<tr>
						<th>Seq</th>
						<td><input type="text" name="noticeSeq"/></td>
						<th>소속</th>
						<td><input type="text" name="compSeq"/></td>
					</tr>
					<tr>	
						<th>제목</th>
						<td colspan="4"><input type="text" name="title"/></td>
					</tr>	
					<tr>		
						<th>내용</th>
						<td colspan="4"><textarea name="content" rows="4"></textarea></td>
					</tr>	
					<tr>	
						<th>최상단 고정 여부</th>
						<td>
							<label>네</label><input type="radio" name="fixedTopYn" value="Y"/>
							<label>아니오</label><input type="radio" name="fixedTopYn" value="N" checked />		
						</td>
						<th>메인상단 노출 여부</th>
						<td>
							<label>네</label><input type="radio" name="mainTopYn" value="Y"/>
							<label>아니오</label><input type="radio" name="mainTopYn" value="N" checked />							
						</td>
					</tr>
					<tr>			
						<th>사용 여부</th>
						<td colspan="4">
							<label>네</label><input type="radio" name="useYn" value="Y" checked />
							<label>아니오</label><input type="radio" name="useYn" value="N"/>			
						</td>		
					</tr>	
					<tr>				
						<th>첨부파일</th>
						<td colspan="4"><input type="file" multiple="multiple" name="files"/></td>												
					</tr>
					<tr>
						<td colspan="4">
							<input type="button" onclick="javascript:remove();" value="삭제"/>
							<input type="button" onclick="javascript:update();" value="수정"/>
							<input type="button" onclick="javascript:add();" value="등록"/>
						</td>
					</tr>
				</table>
			</form>
		</section>		
	
		<section id="contents">
			<table>
				<tr>
					<td>
						<div class="number">총 <b>0</b> 건</div>
					</td>
					<td style="width: 65%;">
					</td>
					<td>
						<select class="slct_condi" id="keykind">
							<option value="title">제목</option>
							<option value="compNm">소속</option>
							<option value="regNm">작성자</option>
						</select>					
					</td>
					<td>
						<input type="text" class="ipt_search" id="keyword" placeholder="검색어를 입력하세요."/>
					</td>
					<td>
						<button type="button" class="btn_search" onclick="javascript:renderContents(1); return false;">검색하기</button>
					</td>
				</tr>
			</table>		
			<!-- 게시판 테이블 영역 -->
			<div class="board_table">
				<table>
					<colgroup>
						<col style="width:5%;">
						<col style="width:5%;">
						<col style="width:15%;">
						<col style="width:auto;">
						<col style="width:8%;">
						<col style="width:12.5%;">
						<col style="width:9%;">
						<col style="width:8.5%;">
					</colgroup>
					<thead>
						<tr>
							<th><input type="checkbox" onclick="javascript:checkAll(this.checked);"/></th>
							<th>번호</th>
							<th>소속명</th>
							<th>제목</th>
							<th>첨부</th>
							<th>작성자</th>
							<th>등록일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<!-- 페이지네이션 -->
			<div class="pagination">
				<div class="pagi_area" id="pagination"></div>
			</div>
		</section>	
	</div>
	
	<script th:inline="javascript">
		onload("/pages/notice", async () => {
			const searchParams = new URLSearchParams(getCookie("search"));
			var page = searchParams.get('page') || 1;
			document.getElementById("keykind").value = searchParams.get('keykind') || document.getElementById("keykind").options[0].value;
			document.getElementById("keyword").value = searchParams.get('keyword') || "";
			
			await renderContents(page);
		})
		.catch(err => alert(err.message));
		
		function renderContents(page) {
			return new Promise(async (resolve) => {
				const keyword = document.getElementById("keyword").value;
				const selector = document.getElementById("keykind");
				const keykind = selector.options[selector.selectedIndex].value;
				let search = "?page=" + page + (keyword ? "&keykind=" + keykind + "&keyword=" + keyword : "");
				
				API.get("/notices" + search).then(async resp => {
					setCookie("search", search, new URL(location.href).pathname);
					
					//table
					let tbody = getEmptyElement(document.querySelector('.board_table tbody'));
					resp.data.forEach(function (item, index) {
						var row = tbody.insertRow();
						row.insertCell().insertAdjacentHTML("beforeend", `<input type="checkbox" value="${item.noticeSeq}"/>`);
						row.insertCell().innerText = item.rowNum;
						row.insertCell().innerText = item.compNm;
						row.insertCell().insertAdjacentHTML("beforeend", `<a href="javascript:detail(${item.noticeSeq});" class="board_tit notice">${item.title}</a>`);
						row.insertCell().innerText = item.attachedFiles.length + '개';
						row.insertCell().innerText = item.regNm;
						row.insertCell().innerText = new Date(item.regDt).toLocaleDateString();
						row.insertCell().innerText = item.viewCnt;
					});
					
					//total count
					document.querySelector('.number b').innerText = resp.query.pagination.totalCount;
					
					//paging
					renderPagination(resp.query.pagination, this.renderContents);
					
					resolve();
			
				});					
			}).catch(alert);
		}
		
		function detail(seq) {
			API.patch("/notices/" + seq +"/increase-views")
			.then(() => {location.href = "/notice/detail?noticeSeq=" + seq})
			.catch(err => alert(err.message));
		}
		
		function add() {
			let formData = new FormData(document.getElementById("notice-form"));
			
			API.post("/notices", formData)
			.then(() => alert("공지사항 등록 성공"))
			.then(() => location.reload())
			.catch(err => alert(err.message));
		}
		
		function update() {
			let formData = new FormData(document.getElementById("notice-form"));
			
			API.put("/notices/" + formData.get("noticeSeq"), formData)
			.then(() => alert("공지사항 수정 성공"))
			.then(() => location.reload())
			.catch(err => alert(err.message));
		}
		
		function checkAll(checked) {
			let checkbox = document.querySelectorAll('.table_area tbody input[type=checkbox]');
			checkbox.forEach(item => item.checked = checked);
		}
		
		async function remove() {
			let checked = document.querySelectorAll('.table_area tbody input[type=checkbox]:checked');
			if (checked.length == 0) {
				alert("공지사항을 선택해주세요");
				return false;
			}
			
			let flag = true;
			for(const [index, item] of checked.entries()) {
				await API.delete("/notices/" + item.value)
				.catch(err => {flag = false; alert(err.message)});
			}
			
			if(flag) alert("공지사항 삭제 성공");	
			location.reload();
		}		
	</script>		
</body>
</html>